body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #333; /* Dark background color */
    color: #fff; /* Light text color */
  }
  
  header {
    text-align: center;
    padding: 1em;
    background-color: #222; /* Darker background color for the top bar */
  }
  
  .header-text {
    font-size: 1.5em;
  }
  
  .item-container {
    margin: 20px auto;
    max-width: 1200px;
    background-color: #444; /* Slightly lighter background color for the main container */
    padding: 20px;
    border-radius: 10px;
  }
  
  details {
    margin-bottom: 10px;
  }
  
  summary {
    font-weight: bold;
    cursor: pointer;
  }
  
  .item {
    margin-top: 10px;
  }
  
  .restock-button {
    background-color: #4CAF50; /* Green button color */
    color: #fff; /* Text color on the button */
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .restock-button:hover {
    background-color: #45a049; /* Darker green on hover */
  }