body {
    background-color: rgba(18, 18, 18, 1);
}

@media (min-width: 768px) {
    .topnav input[type=text] {
        padding: 8px;
        border-radius: 15px;    
        width: 60%;
        margin-top: 8px;
        font-size: 17px;

        margin-bottom: 2px;
    }

    #results {
        margin: auto;
    
        margin-top: 7px;
    
        border-radius: 14px;
        overflow: hidden;
        background-color: rgba(25, 25, 25, 1);
        width: 60%;
        height: 55px;
    
        font-family: Helvetica;
        font-size: 30px;
        color: white;
    }
}

@media (max-width: 767px) {
    .topnav input[type=text] {
        padding: 8px;
        border-radius: 15px;    
        width: 95%;
        margin-top: 8px;
        font-size: 17px;
        
        margin-bottom: 2px;
    }

    #results {
        margin: auto;
    
        margin-top: 7px;
    
        border-radius: 14px;
        overflow: hidden;
        background-color: rgba(25, 25, 25, 1);
        width: 100%;
        height: 55px;
    
        font-family: Helvetica;
        font-size: 30px;
        color: white;
    }
}

#Title {
    text-align: center;
    font-family: Helvetica;
    font-size: 50px;
    color: white;
}

.topnav {
    overflow: hidden;
    background-color: rgba(18, 18, 18, 1);
    text-align: center;
}

.search-class-container {
    box-sizing: border-box;

    border-radius: 14px;
    overflow: hidden;
    background-color: rgba(18, 18, 18, 1);
    
}

#results-p {
    margin-top: 15px;
    margin-left: 10px;

    text-decoration: none;
    font-weight: bold;

    display: inline-block;

    font-family: Helvetica;
    font-size: 20px;
    color: white;
}

/* Scroll Bar CSS */

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
/* Track */
::-webkit-scrollbar-track {
background: rgb(18, 18, 18);
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: rgba(35, 0, 70);
}